*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
}
header{
    display: flex;
    border-bottom: 2px solid #555;
    cursor: move;
}
header h1{
    color: white;
    padding: 10px;
    user-select: none;
    pointer-events: none;
}
header button{
    margin-left: auto;
    background-color: #777;
    width: 150px;
    color: white;
    cursor: pointer;
}
header button:hover{
    background-color: #999;
}
#controller{
    z-index: 9999;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
    height: fit-content;
    background-color: #333;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px white;
}

.option{
    display: flex;
    font-size: 1.5rem;
    padding: 10px 10px;
    border-bottom: 2px solid #555;
}

#controller label{
    color: white;
    width: 30%;
    height: inherit;
}

#controller input{
    width: 60%;
    height: inherit;
    background-color: #111;
    color: white;
}
#controller output{
    width: 15%;
    height: inherit;
    background-color: #111;
    color: white;
    text-align: end;
    padding-right: 10px; 
}
#controller span{
    color: white;
    padding-right: 5px;
}

#menuContainer{
    position: absolute;
    top: 100px;
    left: 100px;
    width: fit-content;
    height: fit-content;
    display: flex;
    background-color: transparent;
    z-index: 99999;
}

#menuItemsContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#menuOptionsContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#menuContainer .menuItem{
    width: 150px;
    padding: 10px;
    border: 1px solid #111;   
    background-color: #333;
    color: white; 
}

#menuContainer .menuItem:hover{
    background-color: #555;
}

#progress{
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    z-index: 99999;
}